<header class="site-header">
  <div class="container">
    <div class="brand">
      <a routerLink="/home">TravelSite</a></div>
    <nav class="site-nav">
        <a routerLink="/stays" href="#">🏢Stays</a>
        <a routerLink="/flights" href="#">✈️Flights</a>
        <a routerLink="/tours" href="#">🌍Tours</a>
        <a routerLink="/cars">🚗Cars</a>
        <a routerLink="/private/jets" href="#">✈︎Private Jets</a>
        <a routerLink="/travel">🧳Travel</a>
    </nav>
    <div class="auth">
      <a routerLink="/login" class="login">Login</a>
      <a routerLink="/signup" class="signup">Sign Up</a>
    </div>
  </div>
</header>
<section class="hero">
  <div class="hero-content">
    <h1>Explore the World with Us</h1>
    <p>Discover breathtaking destinations and make your travel dreams come true.</p>
    <a href="#">Start Your Journey</a>
  </div>
</section>
