/* ====== Tours Page Styles ====== */
:host {
  display: block;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text-primary);
  overflow-x: hidden;
  min-height: 100vh;
}
.home-page-exclusive-tours{
  background: var(--gradient-dark);
}